el pasillo principal:east:el pasillo de fp:west:el pasillo de bachiller
el pasillo de bachiller:east:el pasillo principal
el pasillo de fp:east:el aula 203:south:el aula 201:southeast:el aula 202
el aula 201:north:el pasillo de fp
el aula 202:northwest: el pasillo de fp:south:el aula 203
el aula 203:east:el aula 202:west:el pasillo de fp