ascensor:Necesita una llave para funcionar.:1000:false
tablon:Un tablon de anuncios lleno de informacion util que nadie lee.:80:false
mochila:Una mochila olvidada. Tiene una pegatina de alsa en el exterior.\nContiene dados, bolis y unos apuntes de fol incompletos.:20:true
deportiva:La deportiva izquierda de alguien.:10:true
llave:No es la del ascensor, que pena.:5:true
esqueleto:Los restos de un alumno que seguia completando su examen de XML.:70:true
chuleta:Un resumen de los verbos irregulares ingleses escrito en el techo, detras de una luminaria.:0:false
examen:Un examen en blanco de un alumno apellidado 'Mellado':1:true
alarma:Una alarma de incendios homologada.:5:false
bicicleta:La bicileta de Miguel. Solo estar cerca te inunda de una alegria inusitada.:70:true
rack:Un rack a medio montar. Tiene marcas de golpes y rasgaduras y sus ruedas estan rotas.:200:true
casco:El casco de una moto. Tiene 'Pepe' escrito en un lateral. Esta colocado en una silla como un alumno mas.:10:true
tabaco:Un paquete de tabaco con trozos recortados:1:true
portatil:Un portatil gaming con una partida de 'Rogue Legacy' empezada.:30:true
estatua:Una estatua a Cuenta Puertas con un monton de licencias de Microsoft a sus pies:50:true