ascensor:Necesita una llave para funcionar.:1000:false:false
tablon:Un tablon de anuncios lleno de informacion util que nadie lee.:80:false:false
mochila:Una mochila olvidada. Tiene una pegatina de alsa en el exterior.\nContiene dados, bolis y unos apuntes de fol incompletos.:20:true:false
deportiva:La deportiva izquierda de alguien.:10:true:false
llave:No es la del ascensor, que pena.:5:true:false
esqueleto:Los restos de un alumno que seguia completando su examen de XML.:70:true:false
chuleta:Un resumen de los verbos irregulares ingleses escrito en el techo, detras de una luminaria.:0:false:false
examen:Un examen en blanco de un alumno apellidado 'Mellado':1:true:false
alarma:Una alarma de incendios homologada.:5:false:true
bicicleta:La bicileta de Miguel. Solo estar cerca te inunda de una alegria inusitada.:70:true:false
rack:Un rack a medio montar. Tiene marcas de golpes y rasgaduras y sus ruedas estan rotas.:200:true:false
casco:El casco de una moto. Tiene 'Pepe' escrito en un lateral. Esta colocado en una silla como un alumno mas.:10:true:false
tabaco:Un paquete de tabaco con trozos recortados:1:true:false
portatil:Un portatil gaming con una partida de 'Rogue Legacy' empezada.:30:true:false
estatua:Una estatua a Cuenta Puertas con un monton de licencias de Microsoft a sus pies:50:true:false