el pasillo principal:Te encuentras entre el pasillo de Bachiller y el pasillo de FP.
el pasillo de bachiller:Por la ventana puedes ver a varios alumnos saltando la valla.
el pasillo de fp:Se escucha ruido al fondo, las clases ya han comenzado.
el aula 201:La ignominiosa sala de examenes. La angustia de los cientos de alumnos que han sufrido entre estos muros/n hace que se te erice la piel.
el aula 202:Los alumnos de segundo no parecen prestarte atencion. Se encuentran reunidos alrededor de algo,/nrezando para aprobar el examen de Roberto.
el aula 203:Tus companeros de clase parecen poseidos y casi ni parpadean mientras trabajan.\nMiguel debe haber mandado una nueva tarea.
