ascensor:el pasillo principal
tablon:el pasillo principal
llave:el pasillo principal
mochila:el pasillo de bachiller
deportiva:el pasillo de bachiller
tabaco:el pasillo de bachiller
esqueleto:el aula 201
chuleta:el aula 201
examen:el aula 201
rack:el aula 202
estatua:el aula 202
bicicleta:el aula 203
casco:el aula 203
portatil:el aula 203